* {
    cursor: url('bang.png'), auto;
    font-family: "Lucida Console";
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

header a {
    color: black;
}

header a.active {
    opacity: 0.5;
}

header a:hover, header nav a.active {
    opacity: 0.5;
}

.logo {
    height: 60px;
}

header nav a {
    float: left;
    display: block;
    text-decoration: none;
    margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

/* Footer */
footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
}

/* home */
.home {
    background: url('sj-home.jpg') no-repeat center center fixed;
    background-attachment: no;
    background-size: cover;
}

.home header a {
    color: white;
}

/* about */
.about {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.about footer {
    text-align: right;
    width: 100%;
    font-size: 8px;
}

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;  /* Vertical snap */
}

/* Custom Scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     color: black;
     scroll-snap-align: start;
}

.sect1-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}

.img-s1-container {
    padding: 0px 20px 10px;
    margin-left: 20px;
}

.img-s1-container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 4px;
}

.desc-s1-container {
    padding: 20px;
}

.desc-s1-container h2 {
    margin-bottom: 15px;
    color: black;
}

.desc-s1-container ul li {
     color: #666;
     font-size: 18px;
     line-height: 1.2;
}

.section-2 p {
    text-align: center;
}

.sm-s2-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
}

.sm-s2-container a {
    display: inline-block;
}

.sm-s2-container img {
    width: 100px;
    height: auto;
}

.sm-s2-container a:hover img {
    opacity: 0.8;
}

.s3 p {
    text-align: center;
}

.bang {
    text-align: center;
    margin-bottom: 50px;
}

.s3 img {
    max-width: 250px;
    height: auto;
}

.s4 {
    text-align: center;
}

.s4 img {
    max-width: 200px;
    height: auto;
    margin: 5px 0px;
}

.s4 a:hover img {
    opacity: 0.8;
}

.s4 li {
    text-align: left;
}

.sect5-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}

.img-s5-container {
    padding: 0px 20px 10px;
}

.img-s5-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 4px;
}

.desc-s5-container {
    padding: 40px 80px 0px 40px;
    font-size: 24px;
    text-align: justify;
    margin-left: 20px;
}


/* Music */
.music footer {
    text-align: right;
    width: 100%;
    font-size: 8px;
    position: relative;
    bottom: 0;
}

/* Tab Navigation */
.tabs {
    display: flex;
}

.tabs button {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    transition: background 0.2s ease;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
}

.tabs button:hover {
     background: #57c3c5;
}

.tabs button.active {
     background: #57c3c5;
     color: white;
}


/* Tab Content */
.tab-content {
    display: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-content.active {
     display: block;
     opacity: 1;
}

.atitle {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
    list-style: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.grid img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

ul.grid li {
    border: 3px solid #000;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px;
    list-style: none;
    text-align: center;
}

.al-con img {
    width: 30px;
    height: auto;
    padding: 5px 10px 5px 0px;
}

.al-con a {
    display: inline-block;
}

.al-con a:hover img {
    opacity: 0.8;
}

/* Video */
.video footer {
    text-align: right;
    width: 100%;
    font-size: 8px;
    position: relative;
    bottom: 0;

}

.vdescrip {
    margin-left: 20px;
    font-weight: bold;
}

.vtitle, .vdesc, .vguest {
    margin-bottom: 10px;
}

.vtitle {
    font-weight: bold;
    margin-top: 5px;
}

.vdesc {
    font-size: 14px;
}

.vguest {
    font-style: italic;
    font-size: 14px;
}

/* Tag Cloud */
.tc {
    font-size: 20px;
    text-align: center;
}

.tc span {
    padding: 5px 20px 5px 20px;
    background-color: #2196F3;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.tc span.active {
  background-color: #007bff; /* Blue background for selected tag */
  color: white; /* White text color */
}

/* Hover effect */
.tc span:hover {
  opacity: 0.8;
}

.grid .tc {
    font-size: 12px;
}

.grid .tc span:hover {
    opacity: 1.0;
}

/* Calendar */
.schedule footer {
    text-align: right;
    font-size: 8px;
}

.calendar-container {
    margin: 20px auto;
    width: 90%;
}

.calendar-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 25px
}

.calendar-header button {
    background-color: #333;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.calendar-header button:hover {
    background-color: #575757;
}

.calendar-month {
    font-size: 1.5em;
    font-weight: bold;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.calendar-table th, .calendar-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: top;
}

.calendar-table th {
    background-color: #333;
    color: white;
}

.calendar-table td {
    background-color: #f9f9f9;
    transition: background 0.3s ease;
    width: 14%;
}

.calendar-table .today {
     background-color: #57c3c5;
     color: white;
     font-weight: bold;
}

.calendar-table .birthday {
    background-color: #6B5B4E;
    color: white;
    font-weight: bold;
}

.event-info {
    background-color: #6B5B4E;
    padding: 3px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 0.9em;
    color: white;
}

.calendar-header button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header a {
    color: black;
}

header a.active {
    opacity: 0.5;
}

header a:hover, header nav a.active {
    opacity: 0.5;
}

.logo {
    height: 30px;
}

header nav a {
    float: left;
    display: block;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}

/* Footer */
footer {
    font-size: 10px;
}

/* about */
.about {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.about footer {
    font-size: 0px;
}

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;  /* Vertical snap */
}

/* Custom Scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     color: black;
     scroll-snap-align: start;
}

.sect1-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}

.img-s1-container {
    padding: 0px 20px 10px;
    margin-left: 20px;
}

.img-s1-container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 4px;
}

.desc-s1-container {
    padding: 20px;
}

.desc-s1-container h2 {
    margin-bottom: 15px;
    color: black;
}

.desc-s1-container ul li {
     color: #666;
     font-size: 18px;
     line-height: 1.2;
}

.section-2 p {
    text-align: center;
}

.sm-s2-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
}

.sm-s2-container a {
    display: inline-block;
}

.sm-s2-container img {
    width: 100px;
    height: auto;
}

.sm-s2-container a:hover img {
    opacity: 0.8;
}

.s3 p {
    text-align: center;
}

.bang {
    text-align: center;
    margin-bottom: 50px;
}

.s3 img {
    max-width: 250px;
    height: auto;
}

.s4 {
    text-align: center;
}

.s4 img {
    max-width: 200px;
    height: auto;
    margin: 5px 0px;
}

.s4 a:hover img {
    opacity: 0.8;
}

.s4 li {
    text-align: left;
}

.sect5-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}

.img-s5-container {
    padding: 0px 20px 10px;
}

.img-s5-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 4px;
}

.desc-s5-container {
    padding: 40px 80px 0px 40px;
    font-size: 24px;
    text-align: justify;
    margin-left: 20px;
}


/* Music */
.music footer {
    font-size: 0px;
}

/* Tab Navigation */
.tabs {
    display: flex;
}

.tabs button {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    transition: background 0.2s ease;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
}

.tabs button:hover {
     background: #57c3c5;
}

.tabs button.active {
     background: #57c3c5;
     color: white;
}


/* Tab Content */
.tab-content {
    display: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-content.active {
     display: block;
     opacity: 1;
}

.atitle {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
    list-style: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.grid img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

ul.grid li {
    border: 3px solid #000;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px;
    list-style: none;
    text-align: center;
}

.al-con img {
    width: 30px;
    height: auto;
    padding: 5px 10px 5px 0px;
}

.al-con a {
    display: inline-block;
}

.al-con a:hover img {
    opacity: 0.8;
}

/* Video */
.video footer {
    font-size: 0px;

}

.vdescrip {
    margin-left: 20px;
    font-weight: bold;
}

.vtitle, .vdesc, .vguest {
    margin-bottom: 10px;
}

.vtitle {
    font-weight: bold;
    margin-top: 5px;
}

.vdesc {
    font-size: 14px;
}

.vguest {
    font-style: italic;
    font-size: 14px;
}

/* Tag Cloud */
.tc {
    font-size: 20px;
    text-align: center;
}

.tc span {
    padding: 5px 20px 5px 20px;
    background-color: #2196F3;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.tc span.active {
  background-color: #007bff; /* Blue background for selected tag */
  color: white; /* White text color */
}

/* Hover effect */
.tc span:hover {
  opacity: 0.8;
}

.grid .tc {
    font-size: 12px;
}

.grid .tc span:hover {
    opacity: 1.0;
}

/* Calendar */
.schedule footer {
    font-size: 0px;
}

.calendar-container {
    margin: 20px auto;
    width: 90%;
}

.calendar-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 25px
}

.calendar-header button {
    background-color: #333;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.calendar-header button:hover {
    background-color: #575757;
}

.calendar-month {
    font-size: 1.5em;
    font-weight: bold;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.calendar-table th, .calendar-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: top;
}

.calendar-table th {
    background-color: #333;
    color: white;
}

.calendar-table td {
    background-color: #f9f9f9;
    transition: background 0.3s ease;
    width: 14%;
}

.calendar-table .today {
     background-color: #57c3c5;
     color: white;
     font-weight: bold;
}

.calendar-table .birthday {
    background-color: #6B5B4E;
    color: white;
    font-weight: bold;
}

.event-info {
    background-color: #6B5B4E;
    padding: 3px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 0.9em;
    color: white;
}

.calendar-header button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


}
